<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div id="chat-container" style="border: lightblue solid">
          <h1>Chat</h1>
          <input type="text" id="inputUserName" class="form-control" placeholder="Ingresar correo electrónico">
          <div id="msgBox" class="chat-messages"></div>
          <form id="formPublicarMsg" class="form-inline" autocomplete="off">
            <div class="form-group">
              <input disabled id="inputMsg" type="text" class="form-control mt-3" placeholder="Ingresa tu mensaje">
              <button disabled id="btnEnviar" type="submit" class="btn btn-primary mt-3 mb-3">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
  

