<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Deleted</title>
</head>
<body>
    <p>¡Hola!</p>
    <p>Se eliminó el producto: <strong><%= productName %></strong> codigo: <strong><%= productCode %></strong></p>
    <p>Por favor contactanos si no fuiste vos el que lo hizo</p>
    <p>Gracias,</p>
    <p>Tu equipo de soporte</p>
</body>
</html>
