<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <p>¡Hola!</p>
    <p>Has solicitado restablecer tu contraseña para la cuenta asociada a este correo electrónico:</p>
    <p><strong><%= userEmail %></strong></p>
    <p>Para restablecer tu contraseña, haz clic en el siguiente botón:</p>
    <a href="http://localhost:8001/update-password/<%= userEmail %>" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Restablecer Contraseña</a>
    <p>Si no solicitaste un restablecimiento de contraseña, puedes ignorar este correo.</p>
    <p>Gracias,</p>
    <p>Tu equipo de soporte</p>
</body>
</html>
