<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Deleted</title>
</head>
<body>
    <p>¡Hola!</p>
    <p>Detectamos que hace dos días que no hay actividad en el usuario con mail: <strong><%= userEmail %> </strong></p>
    <p>Procedimos a eliminarlo de nuestra base, por favor volve a crear un usuario</p>
    <p>Gracias,</p>
    <p>Tu equipo de soporte</p>
</body>
</html>
