<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/header.ejs') %> 
 </head>
<body>
    <div class="container">
        <a href="/users/register-github" class="button">Iniciar sesión con GitHub</a>
    </div>
</body>
</html>